body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 700px) {
  body {
    padding: 5% 15%
  }

  .App {
    border: 2px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 7px;overflow: hidden;
  }
}

@media (min-width: 975px) {
  body {
    padding: 5% 30%
  }

}

.App {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: grey;
  text-decoration: none;
  font-size: 14px;
}