form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

form label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

label input {
  border: none;
  flex-grow: 1;
  padding-left: 20px;
}

label input:focus {
  border: none;
  outline: none;
}

label button {
  width: 30%;
  height: 100%;
  background-color: #454343;
  color: white;
  padding: 7px;
  border-radius: 4px;
}



.check {
  margin-right: 10px;
}

p {
  color: rgb(90, 90, 90);
}

#root > div > div:nth-child(2) > p {
  border-top: 1px solid grey;
}

button {
  float: right;
  border: none;
    background-color: transparent;
}

button:focus {
  outline: none;
  border: none;
}

button i {
  color: red;
}